@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #A4B1CD;
  background-color: transparent;
  font-family: 'Source Code Pro', monospace;
  user-select: none;
  overflow-x: hidden;
  max-height: 100vh;
  max-width: 100vw;
}

body{
  background-color: #101010;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
}

.terminalheader{
  z-index: 10;
}

header{
  z-index: 60;
}

.rotated{
  transform: rotate(-90deg);
}

.terminal::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-image: url('/assets/images/kali_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  animation: zoom 10s infinite alternate;
}

.terminal-overlay{
  background-color: rgba(0, 0, 0, 0.8);
}

.terminal{
  overflow-y: hidden;
}

.personal{
  overflow-y: hidden;
}

.personal::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  animation: zoomAndSlideShow 18s infinite alternate;
}

@keyframes zoomAndSlideShow {
  0%, 100% {
    background-image: url('/assets/images/batman_bg.jpg');
    transform: translate(-50%, -50%) scale(1);
  }
  33.33% {
    background-image: url('/assets/images/interstellar_bg.jpg');
    transform: translate(-50%, -50%) scale(1.1);
  }
  66.66% {
    background-image: url('/assets/images/justcause3_bg.jpg');
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.image-loaded{
  animation: scaleImage 0.5s ease-in-out;
}

@keyframes scaleImage {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.active{
  color: #FFFFFF;
}