@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=IBM+Plex+Sans&family=Ubuntu:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #A4B1CD;
  background-color: transparent;
  font-family: 'Source Code Pro', monospace;
  user-select: none;
  overflow-x: hidden;
  max-width: 100vw;
}

body{
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
}

.rotated{
  transform: rotate(-90deg);
}

@keyframes zoomAndSlideShow {
  0%, 100% {
    background-image: url('/assets/images/batman_bg.jpg');
    transform: translate(-50%, -50%) scale(1);
  }
  33.33% {
    background-image: url('/assets/images/interstellar_bg.jpg');
    transform: translate(-50%, -50%) scale(1.1);
  }
  66.66% {
    background-image: url('/assets/images/justcause3_bg.jpg');
    transform: translate(-50%, -50%) scale(0.9);
  }
}

@keyframes zoomIn {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.84);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes scaleImage {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


.image-loaded{
  animation: scaleImage 0.5s ease-in-out;
}

.maximize{
  transition: all ease-in 0.1s;
  height: 100%;
  width: 100%;
}

.destroy{
  transition: all ease-out 0.1s;
  height: 0;
  width: 0;
}

.button-transition{
  transition: 0.2s;
}

.glass{
  background-color: rgba(#000000, 0.8);
  backdrop-filter: blur(5px);
}

.rubik{
  font-family: 'Rubik', sans-serif;
}

.ubuntu{
  font-family: 'Ubuntu', sans-serif;
}

.plex{
  font-family: 'IBM Plex Sans', sans-serif;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  padding: 20px;
  min-height: 25vh
}