@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #A4B1CD;
  background-color: transparent;
  font-family: 'Source Code Pro', monospace;
  user-select: none;
  overflow-x: hidden;
  max-height: 100vh;
  max-width: 100vw;
}

body{
  background-color: #101010;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
}

.terminalheader{
  z-index: 10;
}

header{
  z-index: 60;
}

.rotated{
  transform: rotate(-90deg);
}

.terminal::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 1;
  background-image: url('/assets/images/kali_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  animation: zoom 10s infinite alternate;
}

@keyframes zoom {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.terminal-overlay{
  background-color: rgba(0, 0, 0, 0.8);
}

.terminal{
  overflow-y: hidden;
}